/* This is the Navbar*/
.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(./images/boho-drawing.jpg) no-repeat center;
    background-size: cover;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center;
}

.container h1{
    font-size: 100px;
}

.container h1 span{
    border: 10px solid black;
    padding: 15px 30px;
    padding-bottom: 30px;
    display: inline-block;
}

.btn{
    font-size: 18px;
    font-weight: bold;
    color: black;
}


/*Set padding value for the entire site*/
.container-xl {
    padding: 0px;
}

/*Set margin, value and text position for all columns and rows*/
.col {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
  }

.row {
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom:10px;
}                                

/*Create space between images in the portfolio pages*/
.img-fluid {
    padding-bottom: 10px;
}

#featured{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}


#last-featured{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*This is the footer*/
.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background: url(./images/footer.jpg) no-repeat center;
    background-size: cover;
}