/* This is the Navbar*/
.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}


/*Set padding value for the entire site*/
.container-xl {
    padding: 0px;
}

/*Set margin, value and text position for all columns and rows*/
.col {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
  }

.row {
    margin: auto;
    padding-top: 10px;
    padding-bottom:10px;
}                                

/*Create space between images in the portfolio pages*/
.img-fluid {
    padding-bottom: 10px;
}

#featured{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}


#last-featured{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*This is the footer*/
.col-footer{
    font-size: 12px;
    padding-bottom: 20px;
}

#copyright{
    text-align: center;
}

#profiles{
    text-align: right;
}